* { box-sizing: border-box; }

/* force scrollbar */
html { overflow-y: scroll; }

body { font-family: sans-serif; }

/* ---- grid ---- */

.openui5-masonry {
  background: #DDD;
}

/* clear fix */
.openui5-masonry:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.openui5-masonry-grid-sizer,
.openui5-masonry-grid-item {
  width: 33.333%;
}

.openui5-masonry-grid-item {
  float: left;
}

.openui5-masonry-grid-item img {
  display: block;
  max-width: 100%;
}
